.header{
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 15px;
}
h3{
    display: inline;
    padding-right: 60px;
}
.signin{
    padding-left: 350px;
}
nav{
    display: inline;
}
h1{
    display: inline;
    padding-right: 170px;
    font-size: 50px;
    padding-left: 15px;
}
input{
    display: inline;
    width: 360px;
    height: 30px;
    border-radius: 20px;
}
.subtitles{
    background-color: slategrey;
    color: white;
}
li{
    display: inline;
    padding-right: 100px;
}
li:hover{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
}
h3:hover{
    font-size: 21px;
    cursor: pointer;
}
h1:hover{
    font-size: 52px;
    cursor: pointer;
}